.presentacion {
    background-image: url('/img/espacio_maternitis_circulo_teta.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    padding: 1rem;
}
@media (min-width: 768px) {
    .presentacion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        background-position: center center;
        padding: 0;
    }
}
.presentacion p {
    padding: 2rem;
    background-color: rgba(27, 44, 41, 0.5);
    color: var(--blanco);
    border-radius: 2px;
}
@media (min-width: 768px) {
    .presentacion p {
        padding: 6rem;
        margin: 3rem;
        background-color: var(--verde_oscuro);
    }
}
.descripcion {
    margin: 5rem 1rem;
}
.descripcion h2,
.localizacion h2 {
    color: var(--verde_oscuro);
}
@media (min-width: 768px) {
    .descripcion {
        margin: 10rem 6rem;
    }
}
.descripcion span {
    color: var(--verde_oscuro);
    font-weight: 700;
}
.proporciona {
    margin-top: 7rem;
}
.cuando_cuanto {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
@media (min-width: 768px) {
    .cuando_cuanto {
        display: grid;
        height: 50rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        margin: 3rem auto;
    }
}
.cuando_cuanto a {
    color: var(--blanco);
    margin-top: 5rem;
    border-radius: 5px;
    height: 50rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 17px rgba(0,0,0,0.14);
}
.cuando_cuanto h2 {
    text-align: center;
    color: var(--amarillo);
    background-color: var(--verde_oscuro);
    margin: 0;
    padding: 2rem;
    border-radius: 5px 5px 0 0;
}
.edades {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.peques {
    background-image: url('/img/circulo_peques.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.grandes {
    background-image: url('/img/circulo_grandes.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.localizacion {
    padding: 2rem 1rem;
}
@media (min-width: 768px) {
    .localizacion {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 4rem;
        padding: 4rem;
    }
}
.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mapa a {
    padding: 2rem;
    background-color: var(--naranja);
    border-radius: 40px;
    color: var(--blanco);
    text-align: center;
}
.explicacion_edades {
    text-align: center;
    font-size: 2.5rem;
}
