.header {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    background-color: var(--blanco_header);
    z-index: 10;
}
.header_height {
    height: 8rem;
}
.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bar.bar_flex_end {
    justify-content: flex-end;
}
.bar.bar_flex_between {
    justify-content: space-between;
}
.logo {
    width: 200px;
    height: 50px;
}
.nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    left: -100%;
    width: 80%;
    height: 100vh;
    padding: 3rem 2rem;
    background-color: var(--blanco_header);
    transition: left .5s linear;
    z-index: 10;
}
@media (min-width: 768px) {
    .nav {
        position: inherit;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        width: 100%;
        height: auto;
        background: none;
        margin-top: 0;
    }
    .nav.index {
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        padding: 0 0 7rem 4rem;
        width: auto;
    }
}
.nav a {
    font-size: 1.8rem;
    color: var(--verde_oscuro);
}
@media (min-width: 768px) {
    .nav.index a {
        display: block;
        width: fit-content;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.75);
        box-shadow: 0 0 10px rgba(2, 17, 18, 0.1);
        border-radius: 3px;
    }
}
.nav.open {
    left: 0;
}