.contenedor {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url('/img/foto_portada2.jpg');
    filter: blur(10px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -2;
}
.main_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    margin-top: 10rem;
}
.glass {
    position: relative;
    width: 100%;
    min-height: 800px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background: inherit;
    overflow: hidden;
    z-index: 1;
}
.glass:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, .5);
    filter: blur(5px);
    margin: -20px;
}
.h1_izq {
    transform: rotate(-4deg);
}
.h1_der {
    transform: rotate(4deg);
}
.right_tittle {
    display: flex;
    justify-content: right;
}
.section__index {
    margin-bottom: 10rem;
}
.section__index__title {
    position: relative;
    display: inline-block;
    margin: 10rem 6rem 0;
    padding: 2rem;
    color: var(--blanco);
    border-radius: 5px;
    z-index: 4;
}
.section__cotent {
    position: relative;
    background-color: var(--blanco);
    margin: 0 3rem;
    padding: 8rem 4rem 12rem;
    border-radius: 2px;
}
/* 
 * QUE ES
 */
.que_es h1 {
    background-color: var(--verde_claro);
}
.que_es .section__cotent a {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 2rem;
    padding: .8rem;
    background-color: var(--naranja);
    text-decoration: none;
    color: var(--blanco);
    border-radius: 5px;
}
.que_es .section__cotent a:hover {
    background-color: var(--verde_oscuro);
    transition: background-color .3s linear;
}
/* 
 * ACTIVIDADES
 */
.actividades h1 {
    background-color: var(--verde_oscuro);
}
.actividades .section__cotent {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}
.actividades h3 {
    font-size: 4rem;
    color: var(--verde_oscuro);
}
.actividad__imagen {
    display: flex;
    align-items: center;
}
.circulo_crianza {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}
.circulo_crianza img {
    border-radius: 50%;
    margin: auto;
}
.grupo_juego {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}
.grupo_juego img {
    border-radius: 50%;
}
/* 
 * BLOG
 */
.te_cuento h1 {
    background-color: var(--negro);
}
.div_te_cuento {
    position: relative;
    display: flex;
    gap: 3rem;
    background-color: var(--blanco);
    margin: 0 3rem;
    padding: 4rem;
    border-radius: 2px;
}
.texto_te_cuento {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.div_te_cuento a {
    display: block;
    margin: 2rem;
    padding: .8rem;
    background-color: var(--naranja);
    text-decoration: none;
    color: var(--blanco);
    border-radius: 5px;
}

