.contenedor {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url('/img/foto_portada2.jpg');
    filter: blur(10px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 150% 100%;
    background-attachment: fixed;
    z-index: -2;
}
@media (min-width: 768px) {
    .contenedor {
    background-size: cover;
    }
}
.main_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    margin-top: 10rem;
}
.glass {
    position: relative;
    width: 100%;
    min-height: 800px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background: inherit;
    overflow: hidden;
    z-index: 1;
}
.glass:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, .5);
    filter: blur(5px);
    margin: -20px;
}
.h1_izq {
    transform: rotate(-4deg);
}
.h1_der {
    transform: rotate(4deg);
}
.right_tittle {
    display: flex;
    justify-content: right;
}
.section__index {
    margin-bottom: 10rem;
}
.section__index__title {
    position: relative;
    display: inline-block;
    margin: 10rem 3rem 0;
    padding: 2rem;
    color: var(--blanco);
    border-radius: 5px;
    z-index: 4;
}
@media (min-width: 768px) {
    .section__index__title {
    margin: 10rem 6rem 0;

    }
}
.section__cotent {
    position: relative;
    background-color: var(--blanco);
    margin: 0 .5rem;
    padding: 4rem 2rem 2rem;
    border-radius: 2px;
}
@media (min-width: 768px) {
    .section__cotent {
        margin: 0 3rem;
        padding: 8rem 4rem 4rem;
    }
}
/* 
 * QUE ES
 */
.que_es h1 {
    background-color: var(--verde_claro);
}
/* 
 * ACTIVIDADES
 */
.radius_50 {
    border-radius: 50%;
}
.actividades h1 {
    background-color: var(--verde_oscuro);
}
.actividades .section__cotent {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}
.actividades h3 {
    font-size: 3.2rem;
    color: var(--verde_oscuro);
}
@media (min-width: 768px) {
    .actividades h3 {
        font-size: 4rem;
    }
}
.actividad__imagen {
    display: flex;
    align-items: center;
    border-radius: 50%;
}
.actividad__imagen span {
    border-radius: 50%;
}
@media (min-width: 768px) {
    .box_actividad {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
    }
}
.box_actividad img {
    border-radius: 50%;
    margin: auto;
}
/* 
 * BLOG
 */
.te_cuento h1 {
    background-color: var(--negro);
}
.div_te_cuento {
    background-color: var(--blanco);
    margin: 0 .5rem;
    padding: 4rem 2rem;
    border-radius: 2px;
}
@media (min-width: 768px) {
    .div_te_cuento {
        position: relative;
        display: flex;
        gap: 3rem;
        margin: 0 3rem;
        padding: 4rem;
    }
}
.texto_te_cuento {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/* 
 * TALLER
 */
@media (min-width: 768px) {
    .talleres {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
}
.taller {
    background-color: var(--amarillo);
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    padding: 3rem .5rem;
    border-radius: 5px;
}
@media (min-width: 768px) {
    .taller {
        padding: 3rem;
    }
}
.taller h4 {
    font-size: 3rem;
    margin: 2rem;
    color: var(--verde_disponible);
    text-align: center;
}
.taller p {
    margin: 1rem;
}
.taller a p {
    margin: 0;
}
.taller .descripcion_corta {
    font-style: italic;
    text-align: center;
}
.taller .taller_fecha {
    font-weight: bold;
}
.taller .plazas_disponibles {
    background-color: var(--verde_disponible);
    color: var(--blanco);
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.taller .plazas_agotadas {
    background-color: var(--rojo);
    color: var(--blanco);
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
}