.title {
    padding: 4rem;
    color: var(--verde_oscuro);
    text-align: center;
}
.img {
    display: flex;
    justify-content: center;
}
.presentacion {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    align-items: center;
    padding-top: 100px;
}
@media (min-width: 768px) {
    .presentacion {
        grid-template-columns: 1fr 2fr;
    }
}
.presentacion .texto {
    white-space: pre-wrap;
}
.definicion {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    align-items: center;
}
@media (min-width: 768px) {
    .definicion {
        grid-template-columns: 2fr 1fr;
        margin: 6rem 4rem;
    }
}
@media (min-width: 768px) {
    .palabra {
    margin: 6rem 4rem;

    }
}
.palabra h2 {
    text-align: center;
    margin-top: 6rem;
    color: var(--verde_oscuro);
}
.palabra .bienvenida {
    text-align: center;
    margin-bottom: 6rem;
}
.imagen_final {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50rem;
}
@media (min-width: 768px) {
    .imagen_final {
        padding-bottom: 6rem;
    }
}