.titulo {
    color: var(--verde_oscuro);
    text-align: center;
    margin: 0;
}
.subtitulo {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    margin: 0;
    color: darkgray;
}